.top-contacts
    .container
        .top-contacts__email
            img(class="top-contacts__email__ico" src="../assets/img/email-ico.png", alt="Email icon")
            span(class="top-contacts__email__text") example@compan.com
        .top-contacts__phone Call: +9888 5554 5445 3334
.navigation
    .container
        .navigation__logo
            .navigation__logo__first cons
            .navigation__logo__second truct
        .navigation__links
            ul(class="navigation__links__list")
                li(class="navigation__links__list__item active")
                    a(href="#") home
                li(class="navigation__links__list__item")
                    a(href="#") features
                li(class="navigation__links__list__item")
                    a(href="#") features
                li(class="navigation__links__list__item")
                    a(href="#") service
                li(class="navigation__links__list__item")
                    a(href="#") contact us
            .navigation__search
                img(class="navigation__search__ico" src="../assets/img/search-icon.png", alt="")